* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}

.cal-body {
    height: 800px;
    width: 480px;
    background-color: gray;
    border-radius: 12px;
}

.button {
    height: 115px;
    width: 115px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
}

.operator {
    background-color: rgb(237, 154, 0);
    font-size: 40px;
    height: 115px;
    width: 115px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    cursor: pointer;
    user-select: none;
}

.button-wrapper {
    width: 480px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 2px;
}

.cal-screen {
    width: 400px;
    height: 100px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: flex-end; /* pushes text to the right */
    align-items: center;       /* vertical center */
    padding-right: 10px; 
}

.cal-screen p {
    margin: 0;          /* remove default paragraph margin */
    font-size: 40px;
    font-family: "Space Grotesk", sans-serif;
}
